@use "./../01-abstracts/" as *;

.footer {
  color: white;
  padding: 139px 21px 46px 16px;
  font-size: rem(14px);
  max-width: calc(520px + 21px + 16px);
  margin: auto;
  @include breakpoint($lg) {
    padding: 144px 78px 64px 120px;
    max-width: calc(1242px + 120px + 78px);
  }

  &__logo {
    max-width: 167px;
    margin-bottom: 25px;
    @include breakpoint($lg) {
      max-width: 152px;
      margin-bottom: 32px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    @include breakpoint($lg) {
      flex-direction: row;
      gap: 50px;
      height: 155px;
    }
    @include breakpoint($x-lg) {
      gap: 130px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 41px;
    @include breakpoint($lg) {
      gap: 16px;
      flex-basis: 379px;
      margin: 0;
    }
  }

  &__info-li {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 16px;
    line-height: 1.71;
  }

  &__links {
    line-height: 1.93;
    margin-bottom: 24px;
    display: grid;
    gap: 16px;
    @include breakpoint($lg) {
      flex-basis: 296px;
      margin: 0;
      grid-template-columns: repeat(2, 82px);
      grid-template-rows: repeat(3, 27px);
      grid-auto-flow: column;
      gap: 12px 143px;
    }
    @include breakpoint($x-lg) {
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__socials {
    width: 120px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    @include breakpoint($lg) {
      margin: 0;
      margin-left: 45px;
    }
  }

  &__social {
    width: 31px;
    height: 31px;
    border: solid 1px;
    border-color: inherit;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;

    &--facebook {
      padding: 10px;
    }

    &:hover {
      color: $pink;
    }
  }

  &__copyright {
    text-align: center;
    font-size: rem(11.1304px);
    line-height: 17px;
    @include breakpoint($lg) {
      font-size: rem(12px);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
